/* todolists */
.todolists {
display: flex;
  flex-direction: column;
  padding: 40px;
}
.addForm {
  margin: 45px 0 90px 0 ;
}
.todolistRender {
  display: flex;
  width: 90%;
  margin: 0 auto;
  overflow: scroll;
}

/* todolist */
.todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
  width: 300px;
  color: #212121;
}


/* taskS */
.task {
  display: flex;
  color: #212121;
}