/* todolists */
.todolists {
    display: flex;
    flex-direction: column;
    padding: 40px;

}

.addForm {
    width: 265px;
    margin: 45px 0 90px 0;
}

.todolistRender {
    display: flex;
    width: 90%;
    margin: 0 auto;
    overflow-x: auto;
}

/* todolist */
.todolist {
    min-width: 350px;
    min-height: 400px;
    display: flex;
    padding: 25px 10px ;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    color: #212121;
    border: 5px solid lightslategray;
    border-radius: 15px;
    cursor: grab;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    width: 100%;
    display: flex;
    align-items: center;
}

.title div {
    flex-basis: 80%;
}

.buttons {
    display: flex;
}


/* tasks */
.tasks {
    width: 100%;
}

/* task */
.task {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #212121;
    margin: 10px 0;
    border: 2px solid lightpink;
    border-radius: 6px;
    cursor: grab;
    background-color: #fafcf9;
}

.task input {

    height: 15px;
    flex-basis: 10%;
}

.task div {
    flex-basis: 65%;
}

.task button {
    flex-basis: 20%;
}

.taskCompleated {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #212121;
    margin: 10px 0;
    border: 2px solid lightpink;
    border-radius: 6px;
    cursor: grab;
    background-color: #fafcf9;
    opacity: 0.5;
}

.taskCompleated input {
    flex-basis: 10%;
    height: 15px;
}

.taskCompleated div {
    flex-basis: 65%;
}

.taskCompleated span {
    text-decoration: line-through;
}

.taskCompleated button {
    flex-basis: 20%;
}
